.neonShadow {
  box-shadow:
    2px 2px 5px 1px hsl(var(--appleHue), 100%, 25%),
    -2px -2px 5px 1px hsl(var(--bananaHue), 100%, 25%);
}

.neonBackground {
  border: 1px solid transparent;
  background:
    linear-gradient(45deg, var(--backgroundHue), var(--backgroundAltHue)) padding-box,
    linear-gradient(0deg, hsl(var(--appleHue), 100%, 72%), hsl(var(--bananaHue), 100%, 50%)) border-box;
}
